h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    text-align: center;
}

#section {

}

#contact {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: italic;
}

#bio {
    text-align: center;
    font-size: 20px;
}